@using ToDoList.sourceChanger
@{
	var currentSource = CurrentStorage.CurrentSource;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
	<header>
			<a href="/ToDOList/Index" class="logo">ToDoList</a>
			<ul class="navTop">
				<li>
					@Html.ActionLink("Categories", "Index", "Categories")
				</li>
			</ul>
			<form action="/ToDoList/ChangeCurrentSource" class="sourceChanger">
			<select name="Source">
				<option @(currentSource == "X" ? "selected" : "") value="X">XML</option>
				<option @(currentSource == "D" ? "selected" : "") value="D">SQlDb</option>
			</select>	
			<input type="submit" value="Choose" />
			</form>
	</header>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>