@using ToDoList.sourceChanger
@using ToDoList.sourceChanger.Enums;
@{
	var currentSource = CurrentStorage.CurrentSource;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
	<header>
			<a href="/ToDOList/Index" class="logo">ToDoList</a>
			<ul class="navTop">
				<li>
					@Html.ActionLink("Categories", "Index", "Categories")
				</li>
			</ul>
			<form action="/SourceSwitch/ChangeCurrentSource" class="sourceChanger" method="post">
			<select name="Source">
				@foreach(string source in Enum.GetNames(typeof(StorageSources)))
				{
					<option @(Enum.GetName(currentSource) == source ? "selected" : "") value="@(source)">@(source)</option>
				}
			</select>
				<input type="hidden" name="controller" value="@(ViewContext.RouteData.Values["controller"])"/>
				<input type="hidden" name="action" value="@(ViewContext.RouteData.Values["action"])"/>
				<input type="submit" value="Choose" />
			</form>
	</header>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>